.menu_bar {
	display:none;
}

header nav {
	display: none;
}

/*----------------------*/


body {
	margin: 0px;
	padding: 0px;
	font-family: 'Droid Sans', sans-serif;
	overflow-x: hidden;
	max-width: 100%;

}

#slide {
  height: 40vw;
  background-image: url(<?=base_url().'public/img/astral-foundations_backg.jpg'?>);
  background-position: none center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#464646;
  min-height: 320px;
	}
@media screen and (max-width:800px){
  #slide {
  background-image: url(<?=base_url().'public/img/astfou-header-bg.jpg'?>);
  background-position: none center;
  background-repeat: no-repeat;
  width: 100%;
height: 320px;
  min-height: 320px;
  }
  #slide #content{
    margin-right: auto;
  margin-left: auto;
width: 100%;
  height: 100%;
  padding-top: 100px;
}
#slide #content #logo{
    margin-right: auto;
  margin-left: auto;
  width: 350px;
background-image: url(<?=base_url().'public/img/text_slide.png'?>);
  
  background-repeat: no-repeat;
  height: 156px;
}
}
@media screen and (max-width:430px){
#slide {
  background-image: url(<?=base_url().'public/img/slide.jpg'?>);
  height: 320px;
}
#slide #content{
width: 100%;
  height: 100%;
}
#slide #content #logo{
  width: 350px;
  background-image: url(<?=base_url().'public/img/text_slide.png'?>);
  background-repeat: no-repeat;
  height: 156px;
}
}
@media screen and (max-width:360px){
  #slide #content #logo{
    background-image: url(<?=base_url().'public/img/text_slide2.png'?>);
    }
  }

#banner {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
		width: 100%;
}
#banner #content {
		margin-right: auto;
		margin-left: auto;
		
}
#button {
	background-color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	color: #fff;
	font-family: 'Oswald';
	font-size: 14px;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	font-family: 'Droid Sans', sans-serif;
	border:none;
	font-weight: bold;
}

#header {
	background-image: url(img/astral-foundations_header-bg.png);
	background-repeat: repeat-x;
	height: 100px;
	width: 100%;
	overflow: hidden;
	padding: 0px;
}

#header #menu {
	height: 100px;
	float: none;
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#header  #menu #logo {
	height: 100px;
	width: 400px;
	float: left;
}

#header  #menu #btn {
	float: left;
	height: 100px;
	width: 610px;
	text-align: right;
	margin: 0px;
	padding-left: 190px;
}
#header #menu #btn #buttons {
	float: left;
	font-size: 15px;
	width: 440px;
	height: 100px;
}
#header #menu #nav {
	display: block;
	float: left;
	width: 190px;
	height: 100px;
}

#header #menu #nav #social img {
	margin: 5px;
}
#header #menu #nav #search #inp #content {
	border: 2px solid #dadada;
	border-radius: 7px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
#header #menu #nav #search #inp #content {
	border: 2px solid #dadada;
	border-radius: 7px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
.searc  {
background-image: url(img/astral-foundations_bt-search.png);
	float: left;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border:none;
}
#header #menu #nav #search #srch  {
	float: left;


}
#header #menu #nav #search #inp  {

	float: left;

}
#header #menu #nav #search #inp #content:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
	float: left;
}
#header #menu #nav #social {
	float: none;
	height: 50px;
	width: 170px;
	text-align: left;
}
#header #menu #nav #search {
	height: 50px;
	width: 170px;
	text-align: left;
	padding-top: 10px;
}
#header #menu #btn #buttons #bttna {
	float: left;
	margin: 0px;
	padding-top: 42px;
	padding-right: 12px;
	padding-bottom: 40px;
	padding-left: 12px;
}
#header #menu #btn #buttons #bttn:hover {
	background-image: url(img/astral-foundations_border-menu-select.jpg);
	background-repeat: repeat-x;
	float: left;
	height: 17px;

	padding-top: 62px;
	padding-right: 12px;
	padding-bottom: 34px;
	padding-left: 12px;
}
#header #menu #btn #buttons #bttn {
	float: left;
	margin: 0px;
	padding-top: 62px;
	padding-right: 12px;
	padding-left: 12px;
}

#header #menu #btn #buttons #bttn a{
	color: #000;

}


/*
#slide {
  height: 40vw;
  background-image: url(img/astral-foundations_backg.jpg);
  background-position: none center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#464646;
	
}
#slide #logo {
	padding-left: 650px;
	padding-top: 160px;
}
*/
#panel {
	background-image: url(img/astral-foundations_panel-bg_34.jpg);
	background-repeat: repeat-x;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#panel #btn_panel{
	height: 204px;
	float: none;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#panel #btn_panel #aln_panel {
	float: none;
	width: 1200px;

}
#panel #btn_panel #aln_panel #sepa {
	float: left;
}
#panel #btn_panel #aln_panel #btns {
	float: left;
	width: 390px;
padding-top: 0px;
	vertical-align: bottom;
	text-align: center;
	letter-spacing: 0em;
}
#panel #btn_panel #aln_panel #btns #cont {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 20px;
	font-weight: bold;
	letter-spacing: 0.2em;
	padding-top: 50px;
}
#articles {
	background-image: url(img/astral-foundations_10articles-bg.jpg);
	background-repeat: repeat-x;
	background-color: #F3E5C8;
	width: 100%;
	overflow: hidden;
}

#articles #alg_row {
	float: none;
	height: auto;
	width: 1200px;
	margin: 0 auto;
	
}
#articles #alg_row #row {
	float: none;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 22px;
	margin-bottom: 12px;


}
#articles #alg_row #row #article {
	float: left;
	height: 200px;
	width: 600px;
	margin-top: 22px;
	margin-bottom: 12px;
	padding-bottom: 10px;

}
#articles #title {
	height: 100px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#articles #alg_row #row #article #img {
	float: left;
	width: 180px;
}
#articles #alg_row #row #article #text {
	padding-left: 20px;

	float: left;
	width: 300px;
}
#articles #alg_row #row #article #text #title_a {
	font-size: 14px;
	font-weight: bold;
}
#articles #alg_row #row #article #text #aut {
	font-size: 12px;
	color: #999;
}
#articles #alg_row #row #article #text #read {
	text-align: right;
	font-size: 12px;
	letter-spacing: 0.2em;
}

#author #title {
	height: 100px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#author #alg_profile #profile #text_profile #data #nam {
	font-size: 22px;
	font-weight: bolder;
}
#author #alg_profile #profile #text_profile #data #bio {
	font-size: 18px;
	color: #666;
}
#author #alg_profile #profile #text_profile #articlesl #titl {
	font-weight: bolder;
	padding-top: 46px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#author #alg_profile #profile #text_profile {
	float: left;
	width: 900px;
	padding-right: 0px;
	padding-left: 30px;
}
#author #alg_profile #profile #text_profile #articlesl #row #article #art_img {
	float: left;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
#author #alg_profile #profile #text_profile #articlesl #row #article {
	width: 430px;
	height: 90px;
	float: left;
}
#author #alg_profile #profile #text_profile #data_2 {
	text-align: right;
	padding-top: 20px;
	float: right;
	width: 300px;
	padding-right: 30px;
	font-size: 14px;
	letter-spacing: 0.1em;
}
#author #alg_profile #profile #text_profile #articlesl #row {
	width: auto;
}
#author #alg_profile #profile #text_profile #articlesl #row #article #art_data {
	float: left;
	padding-top: 20px;
	font-size: 16px;
	font-weight: bolder;
	color: #039;
}
#author #alg_profile #profile #img {
	float: left;
	width: 260px;
}
#author #alg_profile #profile {
	float: none;
	height: 520px;
	width: 1200px;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
}
#author {
	background-image: url(img/astral-foundations_featured-bg.jpg);
	background-repeat: repeat;
	height: auto;
		margin-top:0px;
	margin-bottom:40px;
	padding-bottom: 40px;
	marker-offset:0px;
	margin: 0 auto;
	overflow: hidden;
}
#author #alg_profile {
	height: auto;
	width: 100%;
}
#category #alg_cat {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#category #alg_cat #cat {
	float: left;
	height: 360px;
	width: 260px;
	padding-right: 20px;
	padding-left: 20px;
}

#category #alg_cat #cat #name {
	background-image: url(img/name_cat.png);
	height: 40px;
	width: 260px;
	background-position: 53px;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 10px;
	margin-top: 0px;
	color: #FFF;
	font-size: 14px;
}
#category #alg_cat #cat #name a{

	color: #FFF;

}
#category #alg_cat #cat #img img {
	margin: 0px;
	padding: 0px;
	height: 260px;
	width: 260px;
}
#category #title {
	height: 100%;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#category {
	background-image: url(img/astral-foundations_category-bg.jpg);
	background-repeat: repeat;
	width: 100%;
	overflow: hidden;
} 
#footer #row {
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: #999;
}
#footer #row #col #title {
	color: #999;
	float: none;
	font-weight: bolder;
	padding-bottom: 20px;
}
#footer #row #col #text_group {
	float: none;
	padding-bottom: 70px;
	color: #999;
}
#footer #row #col {
	float: left;
	width: 400px;
	text-align: center;
}
#footer #row #col #text_group #text {
	padding-bottom: 18px;
	font-size: 14px;
}
#footer {
	background-image: url(img/astral-foundations_footer-bg.jpg);
	background-repeat: repeat-x;
	height: 431px;
	overflow: hidden;
	width: 100%;
	text-align: center;
}
#footer #rows {
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: #999;
}
#footer #row2 {
	font-size: 14px;
	color: #999;
	text-align: left;
	width: 300px;
	float: none;
}
#footer #row3 {
	float: left;
	width: 900px;
	vertical-align: top;
	text-align: right;
}
@media screen and (max-width:1200px){
	#panel #btn_panel{
	width: 800px;
	}
	#panel #btn_panel #aln_panel #btns {
	float: left;
	width: 250px;
	text-align: center;
	}
	/**/


	#header #menu {
		width: 810px;

	}
	#header  #menu #logo img{
		height: 50px;
		width: 200px;
		float: left;
	}
	#header  #menu #logo{
	padding-top: 25px;
		height: 50px;
		width: 200px;
		float: left;
	}
	
	#header #menu #btn #buttons #bttna {
		display:none;
	}

	#header  #menu #btn {
	float: left;
	height: 100px;
	width: 430px;
	text-align: right;
	margin: 0px;
	padding-left: 0px;
	}
	#header #menu #nav{
	float: left;
	height: 50px;
	width: 180px;
	text-align: left;
	}
	#header #menu #nav #social {
	float: left;
	height: 50px;
	width: 180px;
	text-align: left;
}
#header #menu #nav #search {
	height: 50px;
	width: 150px;
	text-align: left;
	padding-top: 10px;
}
	
	#articles #alg_row {
	float: none;
	height: auto;
	width: 780px;
		
	}
	#articles #alg_row #row {
	float: none;
	width: 780px;
		margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	}
	#articles #alg_row #row #article {
	float: none;
	height: 120px;
	width: 780px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 12px;
	padding-left: 12px;
	}
	#articles #alg_row #row #article img {
	float: left;
	}
	#articles #alg_row #row #article #text {
	float: left;
	width: 400px;
	}
	/**/
	#author{

		height: auto;
		padding-bottom:30px;

	}
	#author #alg_profile #profile {
		float: none;
		height: auto;
		width: 810px;
		padding-bottom:30px;
	}
	#author #alg_profile #profile #text_profile {
		float: left;
		width: 500px;
		padding-bottom:30px;
	}
	#author #alg_profile #profile #text_profile #articlesl {
		width: 250px;
		height: auto;
		float: left;
		padding-bottom:30px;
		/*display:none;*/
	}
	/**/
	#category #alg_cat {
		width: 780px;
		margin-right: auto;
		margin-left: auto;
	}
	#category #alg_cat #cat {
		float: left;
		height: 360px;
		width: 260px;
		padding-right: 0px;
		padding-left: 0px;
	}
	/**/
	#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{

		width: 600px;
		text-align: center;

	}
	#footer #rows {

		width: 800px;
		text-align: center;

}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: left;
		width: 200px;
		text-align: center;
	}
	#footer #row2 {
		font-size: 14px;
		color: #999;
		text-align: left;
		width: 300px;
		float: none;
	}
	#footer #row3 {
		float: left;
		width: 500px;
		text-align: right;
	}
}
@media screen and (max-width:800px){
	.menu_bar {
		display:block;
		width:100%;

		z-index:1000; 
		position: fixed;
		top:0;
		padding: 0px;
		background:#fff;
			overflow-x: hidden;
	}

	.menu_bar .bt-menu {
		
	}
	.menu_bar_btns{
				top:0;
		padding: 0px;
		display: block;width:100%;
		padding: 0px;
		color: #999;height: 100%;
		overflow: hidden;
		text-decoration: none;
			overflow-x: hidden;
			z-index:5;
	}
	header nav {
		background-color:#FFF;
		width: 100%;
		height: 100%;
		z-index:1000;
		position: fixed;
		right:100%;
		margin: 0;
		display: block;
		
	}
 	header nav ul{
		height:100%;
	}
	header nav ul li {
		text-decoration: none;
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
		height:auto;
	}
 	header nav ul li img{
		width:100%;
		height:auto;	
	}
	header nav ul li #search{
		width:100%;

		height:auto;	
	}
	header nav ul li #search #inp{
		float: left;	
		border: 2px solid #dadada;
		border-radius: 7px;
		float: left;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	header nav ul li #search #inp #content{
	
		border: 0px ;

	}
	header nav ul li #search #srch{
		float: left;
	}

	header nav ul li a {
		color:#000;
		text-decoration: none;
		padding-top:20px;
		display: block;		
	}
 
 
	header nav ul li .caret {
		float: right;
	}

/**/
	
#header {
	height: 70px;	
	width: 50px;
}
	/**/
	#panel #btn_panel{
		width: 100%;
		text-align: center;

	}
	#panel #btn_panel #aln_panel {
		float: none;
		width: 100%;
				text-align: center;
				

	}
	#panel #btn_panel #aln_panel #btns {
		float: none;
		width: 100%;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	#panel #btn_panel #aln_panel #btns #cont {
		float: none;
		width: 100%;
		padding-bottom: 00px;
		padding-top: 0px;
	}
	#panel #btn_panel #aln_panel #sepa {
		float: left;
		height: 0px;
	}
	/**/
	#articles {

	width: 100%;
	}
	#articles #alg_row {
	float: none;
	height: auto;
	width: 100%;
	}
	#articles #alg_row #row {
	float: none;
	width: 80%;
	}
	#articles #alg_row #row #article {
	float: none;
	height: 120px;
	width: 100%;

	}
	#articles #alg_row #row #article #text{
		float: none;
		width: 100%;
		padding-left: 12px;
	}
	/**/
	#author{
		height: auto;
			background-repeat: repeat;
	}
	#author #alg_profile #profile {
		float: left;
		height: auto;
		width: 100%;
		text-align: center;
	}
	#author #alg_profile #profile #img{
		float: none;
		text-align: center;
		width: 80%;
	}
	#author #alg_profile #profile #text_profile {
		float: none;
		width: 80%;
		text-align: center;
	}
	#author #alg_profile #profile #text_profile #articlesl {
		width: 250px;
		height: auto;
		display:block;
	}
	/**/
	#category {
		width: 100%;
		text-align: center;

	}
	#category #alg_cat {
		width: 520px;
		margin-right: auto;
		margin-left: auto;
	}
	/**/
	#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{

		width: 400px;
		text-align: center;

	}
	#footer #rows{

		width: 400px;
		text-align: center;

	}
	#footer #rows #row2{
		width: 100%;
		text-align: center;
		float: none;
	}
	#footer #rows #row3{
		width: 100%;
		text-align: center;
		float: none;
	}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width:520px){
	#category {
		width: 100%;
		text-align: center;

	}
	#category #alg_cat {
		width: 260px;
		margin-right: auto;
		margin-left: auto;
	}
	header nav ul li img{
		width:100%;
		height:auto;	
	}
}
@media screen and (max-width:400px){
	
	#panel #btn_panel{
		width: 100%;
		text-align: center;
		height: 104px;
	}
	#panel #btn_panel #aln_panel #btn {
	float: left;
	width: 390px;

	height: 125px;
	vertical-align: bottom;
	text-align: center;
	letter-spacing: 0em;
}
	#panel #btn_panel #aln_panel {
		float: none;
		width: 100%;
				text-align: center;
	}
	#panel #btn_panel #aln_panel #btn {
		float: none;
		width: 100%;
	}
	#panel #btn_panel #aln_panel #sepa {
		float: left;
	}
	/**/

	#articles #alg_row #row #article{
		float: none;
		width: 100%;
		height:auto;
		padding-right: 0px;
		padding-left: 0px;
				text-align: center;
				padding-right:20px;
				margin-right:20px;
	}
	#articles #alg_row #row #article #text{
		float: none;
		width: 100%;
		height:auto;
		text-align: center;
	}
	#articles #alg_row #row #article #text #title_a{
		float: none;
		width: 100%;
		height:auto;
		text-align: center;
	}
	#articles #alg_row #row #article #img{
		float: none;
		width: 100%;
		text-align: center;
		height:95%;
	}
	#articles #alg_row #row #article #img img{
		float: none;
		width: 95%;
		text-align: center;
		
	}
	/**/
	/**/

	
	#author #alg_profile #profile #img{
		float: none;
		text-align: center;
		width: 100%;
	}
#author #alg_profile #profile #text_profile #data #nam {
	padding-top:20px;
}
#author #alg_profile #profile #text_profile #articlesl #row #article{
	height:auto;
	width:100%;
}
#author #alg_profile #profile #text_profile #articlesl #row #article #art_img {
	float: none;
	width:100%;
	
}
#author #alg_profile #profile #text_profile #articlesl #row #article #art_img img{
	float: none;
	width:90%;
	
	
}
#author #alg_profile #profile #text_profile #articlesl #row #article #art_data {
	float: none;

}

	/**/
	#category #alg_cat {
		width: 260px;
	}
	#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{
		width: 100%;
		text-align: center;
	}
		#footer #row2{
		width: 100%;
		text-align: center;		float: left;
		padding-top:30px;padding-bottom:40px;
	}
		#footer #row3{
		width: 100%;
		text-align: center;		float: left;
		
	}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
		text-align: center;
	}
	
}
