.menu_bar {
	display:none;
}

header nav {
	display: none;
}

::-webkit-input-placeholder { color: gray;font-style: italic; } /* WebKit */
:-moz-placeholder { color: gray;font-style: italic; } /* Firefox 18- */
::-moz-placeholder { color: gray;font-style: italic; } /* Firefox 19+ */
:-ms-input-placeholder { color: gray;font-style: italic;} /* IE 10+ */

/*----------------------*/

a:link   
{   
 text-decoration:none; 
 color:black; 

}
a:visited {
    color: black;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Droid Sans', sans-serif;
	overflow-x: hidden;
}
.button {
	background-color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	color: #fff;
	font-family: 'Oswald';
	font-size: 14px;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	font-family: 'Droid Sans', sans-serif;
	border:none;
	font-weight: bold;
}
#button {
	background-color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	color: #fff;
	font-family: 'Oswald';
	font-size: 14px;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	font-family: 'Droid Sans', sans-serif;
	border:none;
	font-weight: bold;
}
/*
#header {
	background-image: url(img/astral-foundations_header-bg.png);
	background-repeat: repeat-x;
	height: 100px;
	width: 100%;
	overflow: hidden;
	padding: 0px;
}

#header #menu {
	height: 100px;
	float: none;
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#header  #menu #logo {
	height: 100px;
	width: 400px;
	float: left;
}
#header  #menu #btn {
	float: left;
	height: 100px;
	width: 610px;
	text-align: right;
	margin: 0px;
	padding-left: 190px;
}
#header #menu #btn #buttons {
	float: left;
	width: 440px;
	height: 100px;
}
#header #menu #btn #nav {
	float: left;
	width: 170px;
	height: 100px;
}
#header #menu #btn #buttons #bttn_s {
	background-image: url(img/astral-foundations_border-menu-select.png);
	background-repeat: repeat-x;
	float: left;
	height: 17px;
	margin: 0px;
	padding-top: 62px;
	padding-right: 12px;
	padding-bottom: 20px;
	padding-left: 12px;
}
#header #menu #btn #nav #social img {
	margin: 5px;
}
#header #menu #btn #nav #search #inp #search_inp {
	border: 2px solid #dadada;
	border-radius: 7px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
#header #menu #btn #nav #search #srch #search_inp:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
	float: left;
}
#header #menu #nav #social {
	float: none;
	height: 50px;
	width: 170px;
	text-align: left;
}
#header #menu #nav #search {
	height: 50px;
	width: 170px;
	text-align: left;
	padding-top: 10px;
}
#header #menu #btn #buttons #bttna {
	float: left;
	margin: 0px;
	padding-top: 62px;
	padding-right: 12px;
	padding-bottom: 18px;
	padding-left: 12px;
}


#header #menu #btn #buttons #bttn {
	float: left;
	margin: 0px;
	padding-top: 62px;
	padding-right: 12px;
	padding-bottom: 18px;
	padding-left: 12px;
}

*/

#slide #author #alg_profile #side_bar #title {
	font-size: 24px;
	font-weight: bolder;
	color: #FFF;
	background-color: #000;
	height: 30px;
	padding-top: 17px;
	padding-bottom: 17px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	background-image:url(img/astral-foundations_related-links.jpg);
	background-repeat:repeat-x;
}
#slide #author #alg_profile #side_bar #item {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top-style: dashed; border-top-width: 1px;
	padding-left:24px;
	padding-right:24px;
}
#slide #author #alg_profile #side_bar {
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:rgba(255,255,255,0.7);
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	height: auto;
	width: 300px;
}
/*
#slide #author #alg_profile #profile2 #text_invoice #inp #inpt {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	border:1px;
	width: 100%;
	font-size: 14px;
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 15px;
	padding-left: 8px;
}*/
#slide #author #alg_profile #profile2 #text_invoice #inp {
	
	padding-top: 8px;
	text-align:center;
	padding-bottom: 8px;
	font-style: italic;
}
/*
#slide #author #alg_profile #profile #text_invoice #inp #inpt {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	border:none;
	width: 100%;
	font-size: 14px;
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 15px;
	padding-left: 8px;
}*/
#slide #author #alg_profile #profile #text_invoice #inp {
	
	padding-top: 8px;
	text-align:center;
	padding-bottom: 8px;
	font-style: italic;
}
div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;

	  -webkit-appearance: button;
    -moz-appearance: button;
}



#slide {
  height: auto;
  width:100%;
  background-image: url(img/astfou-header-bg.jpg);
  background-repeat: repeat;
}

#panel {
	background-image: url(img/astral-foundations_panel-bg_34.jpg);
	background-repeat: repeat-x;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#panel #btn_panel{
	height: 204px;
	float: none;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#panel #btn_panel #aln_panel {
	float: none;
	width: 1200px;

}
#panel #btn_panel #aln_panel #sepa {
	float: left;
}
#panel #btn_panel #aln_panel #btn {
	float: left;
	width: 390px;

	height: 205px;
	vertical-align: bottom;
	text-align: center;
	letter-spacing: 0em;
}
#panel #btn_panel #aln_panel #btn #cont {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 20px;
	font-weight: bold;
	letter-spacing: 0.2em;
	padding-top: 50px;
}
/*#articles {
	background-image: url(img/astral-foundations_10articles-bg.jpg);
	background-repeat: repeat-x;
	background-color: #F3E5C8;
	width: 100%;
	overflow: hidden;
}

#articles #alg_row {
	float: none;
	height: 840px;
	width: 1200px;
	margin: 0 auto;
	
}
#articles #alg_row #row {
	float: none;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#articles #alg_row #row #article {
	float: left;
	height: 120px;
	width: 555px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#articles #title {
	height: 100px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#articles #alg_row #row #article img {
	float: left;
}
#articles #alg_row #row #article #text {
	float: left;
	width: 375px;
}
#articles #alg_row #row #article #text #tit {
	font-size: 12px;
	font-weight: bold;
}
#articles #alg_row #row #article #text #aut {
	font-size: 10px;
	color: #999;
}
#articles #alg_row #row #article #text #read {
	text-align: right;
	font-size: 12px;
	letter-spacing: 0.2em;
}
*/
#slide #author #alg_profile #profile2 #text_profile #data #nam {
	font-size: 15px;
	padding-top:15px;
	
}
#slide #author #alg_profile #profile2 #text_profile #data{
	float:left;
	width:250px;
	
}
#slide #author #alg_profile #profile2 #text_profile #bio{
	margin-top:20px;
	float:left;
	width:100%;
	
}
#slide #author #alg_profile #profile2 #text_profile #data #nam {
	font-size: 15px;
	padding-top:15px;
	
}
#slide #author #alg_profile #profile2 #text_profile #data #bio {
	font-size: 18px;
	color: #666;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl{
	float:none;
padding-top: 46px;
margin-top:46px;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl #titl {
	float:none;
	margin-top:46px;
	font-weight: bolder;
	padding-top: 46px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl #row #article #art_img {
	float: left;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl #row #article {
	width: 100%;
	height: 90px;
	float: left;
}
#slide #author #alg_profile #profile2 #text_profile #data_2 {
	text-align: right;
	padding-top: 20px;
	float: right;
	width: 300px;
	padding-right: 30px;
	font-size: 14px;
	letter-spacing: 0.1em;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl #row {
	width: auto;
}
#slide #author #alg_profile #profile2 #text_profile #articlesl #row #article #art_data {
	float: left;
	
	padding-top: 20px;
	font-size: 16px;
	font-weight: bolder;
	color: #039;
}
#slide #author #alg_profile #profile2 #titlf {
	float: none;
	font-size:28px;
	font-weight:bolder;
	width: 100%;
	padding-bottom:25px;
}
#slide #author #alg_profile #profile2 #img {
	float: left;
	width: 260px;
}
#slide #author #alg_profile #profile2 {
	margin-top:20px;
	padding-left:40px;
	margin-bottom:30px;

	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
	float: left;
	height: auto;
width: 800px;	
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right:30px;
	margin-right: 30px;
	margin-left: auto;
}
#slide #author #title {
	/*height: 100px;*/
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#slide #author #alg_profile #profile #text_profile #data #nam {
	font-size: 15px;
	padding-top:15px;
	
}
#slide #author #alg_profile #profile #text_profile #data{
	float:left;
	width:250px;
	
}
#slide #author #alg_profile #profile #text_profile #bio{
	margin-top:20px;
	float:left;
	width:100%;
	
}
#slide #author #alg_profile #profile #text_profile #data #nam {
	font-size: 15px;
	padding-top:15px;
	
}
#slide #author #alg_profile #profile #text_profile #data #bio {
	font-size: 18px;
	color: #666;
	
}
#slide #author #alg_profile #profile #text_profile #articlesl{
	float:none;
padding-top: 46px;
margin-top:46px;
height: auto;
}
#slide #author #alg_profile #profile #text_profile #articlesl #titl {
	float:none;
	margin-top:46px;
	font-weight: bolder;
	padding-top: 46px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#slide #author #alg_profile #profile #text_profile {
	float: left;
	width: 500px;
	padding-right: 0px;
	padding-left: 30px;
	height: auto;
}
#slide #author #alg_profile #profile #text_profile #articlesl #row #article #art_img {
	float: left;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
#slide #author #alg_profile #profile #text_profile #articlesl #row #article {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 20px;
}
#slide #author #alg_profile #profile #text_profile #data_2 {
	text-align: right;
	padding-top: 20px;
	float: right;
	width: 300px;
	padding-right: 30px;
	font-size: 14px;
	letter-spacing: 0.1em;
}
#slide #author #alg_profile #profile #text_profile #articlesl #row {
	width: auto;
	height: auto;
}
#slide #author #alg_profile #profile #text_profile #articlesl #row #article #art_data {
	float: left;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
margin-bottom: 20px;
	font-size: 16px;
	font-weight: bolder;
	color: #039;
	width: auto;
}
#slide #author #alg_profile #profile #titlf {
	float: none;
	font-size:28px;
	font-weight:bolder;
	width: 100%;
	padding-bottom:25px;
}
#slide #author #alg_profile #profile #img {
	float: left;
	width: 260px;
}
#slide #author #alg_profile #profile {
	margin-top:20px;
	padding-left:40px;
	margin-bottom:30px;

	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
	float: left;
	height: auto;
width: 800px;	
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right:30px;
	margin-right: 30px;
	margin-left: auto;
}
#slide #author #link {
	font-size:12px;
	color:#FFF;
	text-align:left;
	overflow: hidden;
	width: 1280px;
	float: none;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
#slide #author #link #text{
	font-size:12px;
	color:#FFF;
	background-color:#000;
	background-color:rgba(0,0,0,0.7);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	width: 200px;
	float: none;
	height: auto;
	margin-top: 20px;
	padding-top: 13px;
	padding-right: 15px;
	padding-bottom: 13px;
	padding-left: 15px;

}
#slide #author {
		overflow: hidden;
	width: 100%;	
		margin-bottom:30px;

}
#slide #author #alg_profile {

	height:auto;
	margin-bottom:30px;

	width: 1200px;	
	margin-right: auto;
	margin-left: auto;
}
/*#category #alg_cat {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#category #alg_cat #cat {
	float: left;
	height: 360px;
	width: 260px;
	padding-right: 20px;
	padding-left: 20px;
}

#category #alg_cat #cat #name {
	background-image: url(img/name_cat.png);
	height: 30px;
	width: 260px;
	background-position: 53px;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 10px;
	margin-top: 0px;
	color: #FFF;
	font-size: 14px;
}
#category #alg_cat #cat #img img {
	margin: 0px;
	padding: 0px;
	height: 260px;
	width: 260px;
}
#category #title {
	height: 100%;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
#category {
	background-image: url(img/astral-foundations_category-bg.jpg);
	background-repeat: repeat;
	width: 100%;
	overflow: hidden;
}
#footer #row {
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: #999;
}
#footer #row #col #title {
	color: #999;
	float: none;
	font-weight: bolder;
	padding-bottom: 20px;
}
#footer #row #col #text_group {
	float: none;
	padding-bottom: 70px;
	color: #999;
}
#footer #row #col {
	float: left;
	width: 400px;
	text-align: center;
}
#footer #row #col #text_group #text {
	padding-bottom: 18px;
	font-size: 14px;
}
#footer {
	background-image: url(img/astral-foundations_footer-bg.jpg);
	background-repeat: repeat-x;
	height: 431px;
	overflow: hidden;
	width: 100%;
	text-align: center;
}
#footer #row2 {
	font-size: 14px;
	color: #999;
	text-align: left;
	width: 300px;
	float: left;
}
#footer #row3 {
	float: left;
	width: 900px;
	text-align: right;
}*/
#slide #author #alg_profile #side_bar #title {
	font-size: 24px;
	font-weight: bolder;
	color: #FFF;
	background-color: #000;
	height: 30px;
	padding-top: 17px;
	padding-bottom: 40px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	background-image:url(img/astral-foundations_related-links.jpg);
	background-repeat:repeat-x;
}
#slide #author #alg_profile #side_bar #item {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top-style: dashed; border-top-width: 1px;
	padding-left:24px;
	padding-right:24px;
}
#slide #author #alg_profile #side_bar {
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:rgba(255,255,255,0.7);
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	height: auto;
	width: 300px;
}
@media screen and (max-width:1200px){
		/*#slide #author #alg_profile #side_bar {
		float: none;	
		
	}
*/#slide #author #alg_profile #profile {
	margin-top:20px;
	padding-left:40px;
	margin-bottom:30px;

	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
	float: left;
	height: auto;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right:30px;
	margin-right: 30px;
	margin-left: auto;
}
	#panel #btn_panel{
	width: 800px;
	}
	#panel #btn_panel #aln_panel #btn {
	float: left;
	width: 250px;
	text-align: center;
	}
	/**/


	/*#header #menu {
		width: 810px;

	}
	#header  #menu #logo img{
		height: 50px;
		width: 200px;
		float: left;
	}
	#header  #menu #logo{
	padding-top: 25px;
		height: 50px;
		width: 200px;
		float: left;
	}
	
	#header #menu #btn #buttons #bttna {
		display:none;
	}

	#header  #menu #btn {
	float: left;
	height: 100px;
	width: 610px;
	text-align: right;
	margin: 0px;
	padding-left: 0px;
	}

	#header #menu #nav #social {
	float: left;
	height: 50px;
	width: 170px;
	text-align: left;
}
#header #menu #nav #search {
	float: left;
	height: 50px;
	width: 170px;
	text-align: left;
	padding-top: 10px;
}
	/**/
	/*#articles #alg_row {
	float: none;
	height: auto;
	width: 780px;
		
	}
	#articles #alg_row #row {
	float: none;
	width: 780px;
		margin-right: auto;
	margin-left: auto;
	}
	#articles #alg_row #row #article {
	float: none;
	height: 120px;
	width: 780px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 12px;
	padding-left: 12px;
	}
	#articles #alg_row #row #article img {
	float: left;
	}
	#articles #alg_row #row #article #text {
	float: left;
	width: 600px;
	}
	/**/
	#slide #author #alg_profile {

		height:auto;
		margin-bottom:30px;
	
		width: 800px;	
		margin-right: auto;
		margin-left: auto;
	}
	#slide #author #alg_profile #profile {
	margin-top:20px;
	padding-left:40px;
	margin-bottom:30px;

	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
	float: left;
	height: auto;
width: 800px;	
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right:30px;
	margin-right: 30px;
	margin-left: auto;
}

	#slide #author #alg_profile #side_bar {
		float: left;
		height: auto;
		width: 810px;
		min-height: 500px;
		
	}
	/**/
	#slide #author #alg_profile #profile #text_profile {
		float: none;
		width: 600px;
	}

	#slide #author #alg_profile #profile #text_profile #articlesl {
		/*width: 250px;
		height: auto;*/
		float: none;
		display:block;
	}
	#slide #author #alg_profile #profile #text_profile #articlesl #row #article #art_data {
	float: left;
	height: 200px;

		}
	#slide #author #alg_profile #profile #text_profile #articlesl #row #article{
			float: left;
			width: 500px;
			padding-bottom: 20px;
			margin-bottom: 20px;
	}
	/**/
	/*#category #alg_cat {
		width: 780px;
		margin-right: auto;
		margin-left: auto;
	}
	#category #alg_cat #cat {
		float: left;
		height: 360px;
		width: 260px;
		padding-right: 0px;
		padding-left: 0px;
	}
	/**/
	/*#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{

		width: 600px;
		text-align: center;

	}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: left;
		width: 200px;
		text-align: center;
	}
	#footer #row2 {
		font-size: 14px;
		color: #999;
		text-align: left;
		width: 300px;
		float: left;
	}
	#footer #row3 {
		float: left;
		width: 500px;
		text-align: right;
	}*/
}
@media screen and (max-width:800px){
	#slide #author #alg_profile #profile2 {
		/*MODIFICAR*/
		float: left;
		height: auto;
		width: 410px;
		text-align: center;
		
	}
	#slide #author #alg_profile{
	margin-top:20px;
	padding-left:40px;
	margin-bottom:30px;

	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius:18px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
	float: left;
	height: auto;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right:30px;
	margin-right: 30px;
	margin-left: auto;
}
	#slide #author #alg_profile #profile2 #img{
		float: none;
		text-align: center;
		width: 80%;
	}
	#slide #author #alg_profile #profile2 #text_profile {
		float: none;
		width: 80%;
		text-align: center;
	}
	#slide #author #alg_profile #profile2 #text_profile #articlesl 	{
		width: 250px;
		height: 90px;
		display: block;
	}
	#slide #author #alg_profile #profile2 #text_profile #data{
		width: 160px;
	}
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#fff;
			overflow-x: hidden;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #999;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
			overflow-x: hidden;
	}
	header nav {
		background-color:#FFF;
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		display: block;
	}
 	header nav ul{
		height:400px;
	}
	header nav ul li {
		text-decoration: none;
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
		height:auto;
	}
 	header nav ul li img{
		width:400px;
		height:auto;	
	}
	header nav ul li a {
		color:#000;
		text-decoration: none;
		padding-top:20px;
		display: block;		
	}
 
 
	header nav ul li .caret {
		float: right;
	}
	#header {
		height: 70px;
		/*display:none;	*/
	}
/**/
	
/*
	/**/
	#panel #btn_panel{
		width: 100%;
		text-align: center;

	}
	#panel #btn_panel #aln_panel {
		float: none;
		width: 100%;
				text-align: center;
	}
	#panel #btn_panel #aln_panel #btn {
		float: none;
		width: 100%;
	}
	#panel #btn_panel #aln_panel #sepa {
		float: left;
	}
	/**/
	/*#articles {

	width: 100%;
	}
	#articles #alg_row {
	float: none;
	height: auto;
	width: 100%;
	}
	#articles #alg_row #row {
	float: none;
	width: 80%;
	}
	#articles #alg_row #row #article {
	float: none;
	height: 120px;
	width: 100%;
	}
	#articles #alg_row #row #article #text{
		float: none;
		width: 100%;
	}
	/**/
	#slide #author{
		height: auto;
		width: 100%;
			background-repeat: repeat;
	}
	#slide #author #alg_profile  {
		float: none;
		height: auto;
		width: 400px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	#slide #author #alg_profile #profile {
		float: left;
		height: auto;
		width: 100%;
		text-align: center;
		
	}
	#slide #author #alg_profile #profile #img{
		float: none;
		text-align: center;
		width: 80%;
	}
	#slide #author #alg_profile #profile #text_profile {
		float: none;
		width: 80%;
		text-align: center;
	}
	#slide #author #alg_profile #profile #text_profile #articlesl {
		width: 250px;
		height: 90px;
		display: block;
	}
		#slide #author #alg_profile #profile #text_profile #articlesl #row #article{
			float: left;
			height: auto;
			width: 500px;
	}
	#slide #author #alg_profile #profile #text_profile #articlesl #row #article #art_data {
	float: none;
	height: auto;
	width: 250px;
		}

	#slide #author #alg_profile #profile #text_profile #data{
		width: 160px;
	}
	/**/
	#category {
		width: 100%;
		text-align: center;

	}
	#category #alg_cat {
		width: 520px;
		margin-right: auto;
		margin-left: auto;
	}
	/**/
	/*#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{

		width: 400px;
		text-align: center;

	}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
		text-align: center;
	}*/
	#slide #author #alg_profile #side_bar {
		float: left;
		height: auto;
		width: 400px;
		min-height: 500px;
		
	}
}
@media screen and (max-width:520px){
	/*#category {
		width: 100%;
		text-align: center;

	}
	#category #alg_cat {
		width: 260px;
		margin-right: auto;
		margin-left: auto;
	}*/
	header nav ul li img{
		width:100%;
		height:auto;	
	}
}
@media screen and (max-width:400px){
	#slide #author #alg_profile #profile2 {
		float: left;
		height: auto;
		width: 100%;
		text-align: center;
		
	}
	#slide #author #alg_profile #profile2 #img{
		float: none;
		text-align: center;
		width: 80%;
	}
	#slide #author #alg_profile #profile2 #text_profile {
		float: none;
		width: 100%;
		text-align: center;
	}
	#slide #author #alg_profile #profile2 #text_profile #articlesl {
		width: 300px;
		height: 90px;
		display: block;
	}
	#slide #author #alg_profile #profile2 #text_profile #data{
		width: 130px;
	}
	#slide #author{
		height: auto;
		width: 100%;
			background-repeat: repeat;
	}
	#slide #author #alg_profile  {
		float: none;
		height: auto;
		width: 400px;
		text-align: center;
		margin-right: 0px ;
		margin-left:0px;
	}
	/*#slide #author #alg_profile #profile {
		float: left;
		height: auto;
		width: 100%;
		text-align: center;
		
	}
	#slide #author #alg_profile #profile #img{
		float: none;
		text-align: center;
		width: 80%;
	}
	#slide #author #alg_profile #profile #text_profile {
		float: none;
		width: 100%;
		text-align: center;
	}
	#slide #author #alg_profile #profile #text_profile #articlesl {
		width: 300px;
		height: 90px;
		display: block;
	}
	#slide #author #alg_profile #profile #text_profile #data{
		width: 130px;
	}
	*/
	#panel #btn_panel{
		width: 100%;
		text-align: center;

	}
	#panel #btn_panel #aln_panel {
		float: none;
		width: 100%;
				text-align: center;
	}
	#panel #btn_panel #aln_panel #btn {
		float: none;
		width: 100%;
	}
	#panel #btn_panel #aln_panel #sepa {
		float: left;
	}/*
	/**/
	/*#articles #alg_row #row #article{
		float: none;
		width: 100%;
		height:auto;
				text-align: center;
	}
	#articles #alg_row #row #article #text{
		float: none;
		width: 100%;
		height:auto;
	}
	#articles #alg_row #row #article img{
		float: none;
	}
	/**/
	#category #alg_cat {
		width: 260px;
	}
	#footer {
		background-repeat: repeat;
		height: auto;
		width: 100%;
		text-align: center;

	}
	#footer #row{

		width: 100%;
		text-align: center;

	}
	#footer #row #col {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
		text-align: center;
	}
	
}
